body {
	color: #2D323E;
    padding: 0px;
    margin: 0px;
}

header {
    background-color: #252525;
    min-height: 75px;
}

* {
	box-sizing: border-box;
}

h1 {
	font-family:ARIAL BLACK;
	font-size:
}

a {
	display:block;
	font-family: tahoma;
	text-decoration:none;
	font-size: 18px;
	text-transform: uppercase;
	color: #2D323E;
	padding:5px;
}

a:hover {
	color: #C6E8F4;
}

p {
    margin: 1px;
    
}

.container {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.container:after {
  content: "";
  display: table;
  clear: both;
}

.side-left{
    float:left;
    background-color: #dce0df;
    height: 767px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: 8c8c8c;
}

.side-right{
    float:right;
    background-color: #e7e7e7;
    font-family: Arial;
    font-size: 12px;
    height: 767px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: cccccc;
}

.border {
    background-color: #f3f3f3;
    width: 207px;
    margin: 15px;
    padding: 15px;
    border-width: 1px;
	border-color: #8c8c8c;
	border-style: solid;
	border-radius: 5px;
}

.border p {
    margin-left: 8px;
    margin-right: 8px;
}

.zebra {
    float:left;
    list-style: none;
    padding: 0px;
    margin: 0px;
    min-width: 674px;
}

.zebra li { padding: 0px;}
.zebra li:nth-child(odd) {background: #F5F5F5;}
.zebra li:nth-child(even) {background: white;}
.zebra li:hover {
    background-color: black;
    font-family: tahoma;
}