.ql-toolbar.ql-snow {
  @apply border-0 flex items-center flex-wrap;
}

.ql-toolbar.ql-snow {
  font-family: OpenSans, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue,
    Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji, sans-serif;
}

.ql-snow .ql-formats::after {
  @apply hidden;
}

.ql-snow.ql-toolbar button:hover .ql-fill,
.ql-snow .ql-toolbar button:hover .ql-fill,
.ql-snow.ql-toolbar button:focus .ql-fill,
.ql-snow .ql-toolbar button:focus .ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
  @apply fill-indigo-500;
}

.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button:focus,
.ql-snow .ql-toolbar button:focus,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  @apply text-indigo-500;
}

.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow .ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar button:focus .ql-stroke,
.ql-snow .ql-toolbar button:focus .ql-stroke,
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow .ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow.ql-toolbar button:hover .ql-stroke-miter,
.ql-snow .ql-toolbar button:hover .ql-stroke-miter,
.ql-snow.ql-toolbar button:focus .ql-stroke-miter,
.ql-snow .ql-toolbar button:focus .ql-stroke-miter,
.ql-snow.ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
  @apply stroke-indigo-500;
}

.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
  @apply fill-gray-600 dark:fill-gray-300;
}

.ql-snow .ql-picker-options .ql-picker-item {
  @apply px-2 py-1;
}

.ql-snow .ql-picker {
  @apply text-gray-500 dark:text-gray-300;
}

.ql-snow .ql-picker.ql-expanded .ql-picker-label .ql-stroke {
  @apply stroke-gray-300 dark:stroke-gray-600 hover:bg-gray-500/10;
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
  @apply border-indigo-500 border-2 rounded-md flex items-center;
}

.ql-snow .ql-picker-options .ql-picker-item {
  @apply p-1;
}

.ql-snow .ql-stroke {
  @apply stroke-gray-600 dark:stroke-gray-300;
}

.ql-container.ql-snow {
  @apply border-0;
}

.ql-toolbar.ql-snow .ql-formats {
  @apply m-0;
}

.ql-snow .ql-formats {
  @apply flex;
}

.ql-container.ql-snow .ql-editor {
  @apply border border-gray-300 dark:border-gray-600 rounded-md mt-1 p-3 placeholder-gray-600 dark:placeholder-gray-400 focus:outline-none focus:text-gray-900 dark:focus:text-gray-400 focus:placeholder-gray-300 dark:placeholder-gray-400 dark:focus:placeholder-gray-700 focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm;
}

.ql-snow .ql-picker.ql-header .ql-picker-item[data-value='1']::before {
  @apply xl:text-5xl lg:text-4xl sm:text-3xl font-bold;
}

.ql-snow .ql-picker.ql-header .ql-picker-item[data-value='2']::before {
  @apply xl:text-4xl lg:text-3xl sm:text-2xl font-bold;
}

.ql-snow .ql-picker.ql-header .ql-picker-item[data-value='3']::before {
  @apply xl:text-3xl lg:text-2xl sm:text-xl font-bold;
}

.ql-snow .ql-picker.ql-header .ql-picker-item[data-value='4']::before {
  @apply xl:text-2xl lg:text-xl sm:text-lg font-bold;
}

.ql-snow .ql-picker.ql-header .ql-picker-item[data-value='5']::before {
  @apply xl:text-xl lg:text-lg sm:text-base font-bold;
}

.ql-snow .ql-picker.ql-header .ql-picker-item[data-value='6']::before {
  @apply xl:text-lg lg:text-base sm:text-base font-bold;
}

.ql-snow .ql-picker.ql-header .ql-picker-item[data-label='Normal']::before {
  content: 'Обычный текст' !important;
}

.ql-snow .ql-formats .ql-header {
  @apply w-36;
}

.ql-snow .ql-picker.ql-header .ql-picker-label::before {
  @apply w-36;
}

.ql-snow .ql-picker.ql-header .ql-picker-label {
  @apply w-36 h-7;
}

.ql-snow .ql-picker.ql-header .ql-picker-label[data-label='Normal']::before {
  content: 'Обычный текст' !important;
}

.ql-snow .ql-picker.ql-header .ql-picker-item[data-label='Normal']::before {
  @apply my-4;
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
  @apply bg-white dark:bg-gray-900 border border-gray-300 dark:border-gray-300 rounded-md shadow p-2 flex flex-col gap-2 z-50;
}

.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button:focus,
.ql-snow .ql-toolbar button:focus,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  @apply hover:text-indigo-500 hover:bg-gray-500/10 hover:rounded-md;
}

.ql-editor.ql-blank::before {
  @apply text-sm text-gray-500 dark:text-gray-600 not-italic font-medium;
}

.ql-snow .ql-editor {
  min-height: 200px;
  max-height: 500px;
  font-family: OpenSans, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue,
    Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji, sans-serif !important;
}

.ql-snow .ql-editor h1 {
  @apply xl:text-5xl lg:text-4xl sm:text-3xl font-bold;
}

.ql-snow .ql-editor h2 {
  @apply xl:text-4xl lg:text-3xl sm:text-2xl font-bold;
}

.ql-snow .ql-editor h3 {
  @apply xl:text-3xl lg:text-2xl sm:text-xl font-bold;
}

.ql-snow .ql-editor h4 {
  @apply xl:text-2xl lg:text-xl sm:text-lg font-bold;
}

.ql-snow .ql-editor h5 {
  @apply xl:text-xl lg:text-lg sm:text-base font-bold;
}

.ql-snow .ql-editor h6 {
  @apply xl:text-lg lg:text-base sm:text-base font-bold;
}

.ql-snow .ql-editor p {
  @apply text-gray-800 dark:text-gray-100;
}

.ql-snow .ql-editor ul {
  @apply text-gray-800 dark:text-gray-100 my-5 pl-6 list-disc;
}

.ql-snow .ql-editor ol {
  @apply text-gray-800 dark:text-gray-100 my-5 pl-6;
}

.ql-snow .ql-editor li {
  @apply my-2;
}

.ql-snow .ql-editor details {
  @apply my-5 p-4 bg-red-600/20 rounded-md font-medium;
}

.ql-snow .ql-editor summary {
  @apply text-red-700 hover:cursor-pointer;
}

.ql-snow .ql-editor pre.ql-syntax {
  @apply text-base my-5 text-white px-4 py-5 bg-gray-800 rounded-md overflow-x-auto;
}

.ql-snow .ql-editor blockquote {
  @apply px-5 py-6 border-l-8 border-indigo-500 dark:border-indigo-600 bg-indigo-500/20 rounded-md my-5;
}

.ql-snow .ql-editor hr {
  @apply border-gray-300 dark:border-gray-700 my-3;
}

.ql-snow .ql-tooltip[data-mode='link']::before {
  content: 'Вставьте ссылку:' !important;
}

.ql-snow .ql-tooltip[data-mode='video']::before {
  content: 'Вставьте видео:' !important;
}

.ql-snow .ql-tooltip[data-mode='formula']::before {
  content: 'Вставьте формулу:' !important;
}

.ql-snow .ql-tooltip {
  @apply bg-white dark:bg-gray-900 border border-gray-300 dark:border-gray-600 shadow rounded-md;
}

.ql-snow .ql-tooltip.ql-editing a.ql-action::after {
  content: 'Сохранить' !important;
}

.ql-snow .ql-tooltip input[type='text'] {
  @apply border border-gray-300 dark:border-gray-600 rounded-md p-3 placeholder-gray-600 dark:placeholder-gray-400 focus:outline-none focus:text-gray-900 dark:focus:text-gray-400 focus:placeholder-gray-300 dark:placeholder-gray-400 dark:focus:placeholder-gray-700 focus:ring-1 focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm;
}

.ql-snow.ql-toolbar button,
.ql-snow .ql-toolbar button {
  height: 28px;
  padding: 5px 5px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ql-snow.ql-toolbar button,
.ql-snow .ql-toolbar button {
  @apply rounded-md hover:bg-gray-500/10;
}

.ql-editor .ql-align-center {
  @apply text-center;
}
