// Стили для печати

@media print {

.page-body {
  position: relative !important;
  top: 0 !important;
  left: 0 ;
  width: 100% !important;
  height: auto !important;
}
  .page-wrapper {
    min-height: revert !important;
    overflow: hidden;
  }

  .main-content {
    top: 0 !important;
    left: 0 !important;
    overflow: hidden;
    position: revert !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .main-content-wrapper {
    height: auto !important;
    overflow: hidden;
  }

  p {
    page-break-before: always !important;
  }

  .page-body .main-sidebar,
  .toasts-container,
  .progress-container,
  .search-input,
  .main-header,
  .main-content-header .btn-back,
  .main-content-header .header-right,
  .apexcharts-tooltip,
  .apexcharts-xaxistooltip,
  .apexcharts-yaxistooltip,
  .apexcharts-yaxistooltip-text,
  .apexcharts-toolbar,
  .back-to-top,
  .dataTables_length,
  .dataTables_filter,
  .dataTables_paginate,
  .dataTables_info,
  .faq-categories-list,
  .faq-categories .col-3 {
    display: none !important;
  }

  .calendar-wrapper {
    margin: 0 !important;
  }

  .fc-bg-event {
    color: #FFFFFF !important;
    border: none !important;
  }

  *,
  *:before,
  *:after,
  *:first-letter,
  p:first-line,
  div:first-line,
  blockquote:first-line,
  li:first-line {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
    overflow: hidden !important;
  }

  .main-content-header > *,
  .card,
  .card-body {
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  .main-content-header {
    margin-bottom: 10px !important;

    .main-content-title {
      border-right: none !important;
    }
  }


  * {
    border-color: #000 !important;
  }

  * svg {
    fill: #000 !important;
  }

  th, td {
    padding: 5px !important;
  }

  th, td {
    border-left: 1px solid !important;
  }

  th {
    border-top: 1px solid !important;
  }

  th:last-child,
  td:last-child {
    border-right: 1px solid !important;
  }
}
