@import "../assets/fonts/index.css";

/** Анимация  */
@import "./animation";

/** npm модули */
@import '~react-loading-skeleton/dist/skeleton.css';
@import "~react-perfect-scrollbar/dist/css/styles.css";

/** Tailwind  */
@tailwind base;
@tailwind components;
@tailwind utilities;

/** Замена браузерных стилей для Мозиллы */
@supports (-moz-appearance:none) {
    option
    {
        -moz-appearance:none !important;
        font-size: 16px;
        @apply text-gray-800 bg-white
    }
}

/** Для страниц с фиксированной высотой */
.full-height-page {
    height: calc(100vh - 64px - 64px);
}

/** Perfect scrollbar постоянно отображается */
.ps__show .ps__rail-y {
    opacity: 1;
}

/** Подсветка найденных строк */
.text-highlight {
    @apply bg-amber-400 dark:bg-amber-500 dark:text-slate-900
}