@import "../custom";

// База знаний

// FAQ

.card.faq {
  min-height: calc(100vh - #{$header-height} - 100px);
}

.faq-cards {
  a {
    &:hover {
      text-decoration: none;
    }
  }

  .faq-card {
    &:hover {
      text-decoration: none;
      color: $primary;
    }

    .card-body {
      color: var(--ui-text);

      p:last-child {
        margin-bottom: 0;
      }
    }

    &:hover {
      border-color: $primary;
      text-decoration: none;
      box-shadow: 0 0 0 0.25rem $primary-20;
      cursor: pointer;
    }
  }

  .w-100 {
    margin: 10px 0;
  }
}

.faq-categories-list,
.faq-category-sublist {
  list-style: none;
  padding: 0;
}

.faq-categories-list {
  padding: 0;
  margin: 0;
}

.faq-category-link,
.faq-category-subitem a {
  position: relative;
  padding: 10px;
  display: block;
  width: 100%;
  color: var(--ui-text);

  &:hover {
    cursor: pointer;
    background-color: $primary-20;
  }
}

.faq-category-subitem a {
  padding: 10px 10px 10px 25px;

  &:before {
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    content: "\F09EE";
    top: 22%;
    left: 5px;
  }
}

.faq-category-link:after {
  position: absolute;
  display: inline-block;
  font: normal normal normal 24px/1 "Material Design Icons";
  font-size: inherit;
  text-rendering: auto;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\F0142";
  top: 22%;
  right: 7px;
}

.faq-category:not(.active) {
  .faq-category-sublist {
    display: none;
  }
}

.faq-category.active {
  .faq-category-link {
    border-bottom: 1px solid var(--ui-border);
  }

  .faq-category-link:after {
    position: absolute;
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\F0140";
    top: 22%;
    right: 7px;
  }
}

.faq-category.active {
  .faq-category-sublist {
    display: block;
  }
}

.faq-category-link:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.faq-category-link:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
