@import "../custom";

// Fullcalendar

#daynum-error,
#weeknum-error,
#monthnum-error,
#yearnum-error,
#dayofmonth-error {
  position: absolute;
  left: 0;
  top: 34px;
  font-size: 14px;
}

#nav-rep {
  min-height: 595px;
}

.today-calendar,
.calendar-module {

  .fc-icon-mdi::before {
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    vertical-align: unset;
  }


  td, th, table {
    border-color: var(--ui-border) !important;
  }

  .fc-col-header-cell-cushion, .fc-daygrid-day-number {
    color: var(--ui-text);
  }

  .fc-h-event {
    display: block;
    border-radius: 4px;
    border: 3px solid shift-color($link-color, $link-shade-percentage);
  }

  .fc-event-time {
    overflow: unset;
  }

  .fc-col-header-cell-cushion {
    text-transform: uppercase;
  }

  .fc-toolbar-title {
    font-size: 1.5em;
  }

  .fc-daygrid-dot-event {
    border-radius: 4px;
  }

  .fc {

    .fc-popover {
      z-index: 1000;
    }

    .fc-event-time {
      font-size: 12px;
    }

    .fc-button {
      border: none;

      &-primary {
        background-color: transparent;
        color: $primary;

        &:not(:disabled):active, &:not(:disabled).fc-button-active {
          background-color: transparent;
          color: $primary-dark;
        }

        &:hover,
        &:active {
          background-color: transparent;
        }

        &:focus {
          outline: 0;
          box-shadow: 0 0 0 0.25rem $primary-20;
        }

        &:disabled {
          background-color: transparent;
          opacity: 0.5;
          color: $secondary;
        }
      }

    }

    @each $color_name, $color in $theme-colors {
      .fc-event-#{$color_name} {
        background-color: rgba($color, .4);
        border: 1px solid $color;
        color: var(--ui-text);

        &fc-bg-event {
          border: 1px solid rgba($color, .4);
        }

        .fc-daygrid-event-dot {
          border-color: mix($black, $color, $darkpercent);
        }

        .fc-event-main {
          color: var(--ui-text);
        }

      }
    }

    .fc-highlight {
      background: $info-20;
      border: none;
    }

    .fc-toolbar {

      &-title {
        text-transform: uppercase;
      }
    }

    .fc-daygrid-day {
      &.fc-day-today {
        background-color: transparent;
        border: none;

        .fc-daygrid-day-number {
          margin-top: 3px;
          width: 32px;
          color: var(--ui-text);
          background-color: $primary-50;
          -moz-border-radius: 50%;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    &-bg-event {
      background-color: $danger-20;
    }

    &-col-header-cell {
      text-align: center;
    }

    &-view-month &-event,
    .fc-day-sat a,
    .fc-day-sun a {
      color: $danger;
    }
  }
}

// Мини календарь на главной
.today-calendar {
  width: 100%;
  margin: 0 auto;
  font-size: 14px;

  a {
    color: var(--ui-text);
  }

  .fc-toolbar-title {
    color: var(--ui-text);
  }

  .fc-daygrid-dot-event {
    color: var(--ui-bg);
  }

  .fc {

    @each $color_name, $color in $theme-colors {
      .fc-event-#{$color_name} {
        background-color: rgba($color, .4);
        border: 3px solid $color;
      }
    }

    .fc-bg-event {
      border: none;
    }

  }

  .fc-daygrid-dot-event {
    border-radius: 50%;
    padding: 2px 2px;

    .fc-event-title {
      font-weight: 400;
    }
  }

  table tbody tr th,
  table tbody tr td {
    width: 31px;
    height: 31px;
  }

  .fc {

    &-theme-standard td,
    &-theme-standard th {
      border-color: var(--ui-border);
    }


    .fc-scrollgrid {
      border: none;
    }

    .fc-daygrid-day-frame {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .fc-daygrid-day-top {
      justify-content: center;
    }

    .fc-daygrid-day-bottom {
      font-size: 12px;
    }

    .fc-scrollgrid {
      border: none;
    }

    .fc-daygrid-day {
      &.fc-day-today {
        background-color: transparent;
        .fc-daygrid-day-number {
          margin-top: 3px;
          width: 32px;
          color: var(--ui-text);
          background-color: $primary-50;
          -moz-border-radius: 50%;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            cursor: pointer;
          }
        }
      }

    }

    &-bg-event {
      background-color: $danger-20;
    }

    &-view-month &-event,
    .fc-day-sat a,
    .fc-day-sun a {
      color: $danger;
    }

    .fc-toolbar {
      &-title {
        color: var(--ui-text);
      }

      &.fc-header-toolbar {
        margin: 0 0 10px 0;
      }
    }

    .fc-toolbar-title {
      font-size: 14px;
    }

    .fc-button {
      padding: 0 5px;

      &-primary {
        background-color: transparent;
        color: $primary;

        &:not(:disabled):active, &:not(:disabled).fc-button-active {
          color: $offcanvas-vertical-height;
          background-color: $primary-dark;
        }

        &:hover,
        &:active {
          background-color: $primary-lighter;
        }

        &:focus {
          box-shadow: 0 0 0 0.25rem $primary-20;
        }
      }

      .fc-icon {
        font-size: 12px;
      }
    }

    .fc-h-event {
      .fc-event-main {
        color: var(--ui-text-bold);
      }
    }

    .fc-daygrid-event {
      .fc-event-time,
      .fc-event-title {
        color: var(--ui-text-bold);
        font-weight: 400;
      }
    }

    .fc-highlight {
      background: $info-20;
    }

    table {
      font-size: 14px;
    }

    th,
    td {
      vertical-align: middle;
    }

    &-theme-standard td,
    &-theme-standard th {
      border: none;
    }

    &-view-month &-event,
    &-view-agendaWeek &-event {
      font-size: 0;
      overflow: hidden;
      height: 2px;
    }

    &-event-time,
    &-daygrid-event-dot,
    &-event-title,
    &-sticky,
    &-event-title,
    &-daygrid-more-link {
      display: none;
    }
  }
}

.fc-toolbar-chunk {
  display: flex;
  align-items: center;

  div {
    display: flex;
    align-items: center;
  }

  .fc-prev-button {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fc-next-button {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.today-calendar-widget {
  .fc-prev-button, .fc-next-button {
    width: 24px;
    height: 24px;
  }

}
