@import "../custom";

// Каталог ссылок

.card.list-tab-group {
  min-height: calc(100vh - #{$header-height} - 150px);
}

.list-tab-group {
  display: flex;
  flex-direction: row;
  margin: 0 10px 10px 10px;
  background-color: var(--ui-bg);

  .tab-list-group,
  .list-group {
    list-style: none;
    padding: 0 15px;
    margin: 0;
  }

  .list-group {
    padding: 0 15px 0 0;
    margin-left: 15px;
    border-top: none;
    border-bottom: none;
    border-radius: 0;
    border-right: 1px solid var(--ui-border);

    &-body {
      display: flex;
      align-items: center;
      flex-grow: 2;
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 4px;
      margin-bottom: 10px;
      border: none;
      text-decoration: none;
      padding: 0;
      background-color: var(--ui-bg-mid);

      .list-group-number,
      .menu-arrow {
        color: var(--ui-text);
      }

      &.active {
        background-color: $primary;
        box-shadow: 0 0 0 4px $primary-20;
        color: var(--ui-bg);

        .list-group-toolbutton:hover {
          color: $danger;
        }

        a {
          color: var(--ui-bg);
        }
      }

      &:hover {
        background-color: $primary-20;

        a {
          color: $primary;
        }
      }

      &:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
      }
    }

    &-link {
      width: 100%;
      height: 100%;
      flex-grow: 2;
      position: relative;
      display: flex;
      align-items: center;
      padding: 15px;
      cursor: pointer;
      text-decoration: none;
      margin-right: 10px;
      color: var(--ui-text);

      &:hover {
        text-decoration: none;
        color: $primary;
      }
    }

    &-toolbar,
    &-number {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 7px;
      margin-right: 20px;

      p {
        padding: 0;
        margin: 0 5px;
        font-size: 0.8em;
      }
    }

    &-toolbutton {
      padding: 5px;
      cursor: pointer;

      &:hover {
        i {
          color: $danger;
        }
      }

      i {
        color: var(--ui-text);
      }

    }
  }

  .tab-content {
    padding: 0 0 0 15px;
    min-width: 250px;

    .tab-list-group {

      &.active {
        display: flex;
        flex-direction: column;
        align-items: stretch;
      }

      &:not(.active) {
        display: none;
      }
    }

  }

  .menu-arrow {
    position: absolute;
    right: 7px;
  }
}
