@import "../custom";

// Список задач

.todo-wrapper {
  height: 100%;

  .no-results {
    display: none;
    padding: 1rem;
    text-align: center;

    p {
      margin: 0;
      padding: 0;
    }

    &.show {
      display: block;
    }
  }

  .col-9,
  .col-3 {
    height: 100%;
  }

  .col-9 {
    .card {
      margin-left: -1px;
    }
  }


  .list-group {
    border-radius: 0;

    .list-group-item {
      color: var(--ui-text-mid);
      border-color: transparent;

      &:hover {
        background-color: $primary-20;
        color: $primary-dark;
      }

      &.active {
        background-color: $primary-50;
        color: $primary-dark;

        &:hover {
          color: $primary-dark;
        }
      }

      i {
        font-size: 1.2em;
      }
    }
  }

  .app-fixed-search {
    padding: 0.35rem 0.5rem;
    border-bottom: 1px solid var(--ui-border);
    background-color: var(--ui-bg);
    border-top-right-radius: 0.357rem;

    .input-group-prepend {
      margin-right: -1px;
      display: flex;
    }

    .input-group-text {
      border: none;
      background-color: transparent;
    }

    input {
      border-color: transparent;
      height: 35px;
      margin: 8px 0;
    }
  }

  .todo-task-list-wrapper {
    position: relative;
    height: calc(100% - 3.56rem);
    background-color: var(--ui-bg);
    border-radius: 0;
    overflow-y: scroll;
    border-top: none;

    .todo-task-list {
      padding: 0;
      margin: 0;
      list-style: none;

      .todo-item {
        cursor: pointer;
        transition: all 0.2s, border-color 0s;
        position: relative;
        padding: 0.893rem 0.893rem;
        border-top: 1px solid var(--ui-border);

        &:first-of-type {
          border-color: transparent;
        }

        &:hover {
          transform: translateY(-4px);
          box-shadow: 0 3px 10px 0 var(--ui-border);
          transition: all 0.2s;
          border-color: transparent;
        }

        &.completed {
          .todo-title {
            color: var(--ui-text-mid);
            text-decoration: line-through;
          }
        }

        .todo-title-wrapper {
          display: flex;
          justify-content: space-between;
        }

        .todo-title-area {
          display: flex;
          align-items: center;

          .title-wrapper {
            display: flex;
            align-items: center;

            .custom-control .custom-checkbox {
              input {
                width: 18px;
                height: 18px;
              }
            }

            .todo-title {
              margin-left: 0.5rem;
              margin-right: 0.5rem;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              max-width: 400px;
            }
          }
        }

        .todo-item-action {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
  }
}

